<about-menu></about-menu>

<section name="greetings" class="col-md-12">
	<about-greetings></about-greetings>
</section>

<section name="history" class="col-md-12">
	<about-history></about-history>
</section>

<section name="organization"  class="col-md-12">
	<about-organization></about-organization>
</section>

<section name="rules" class="col-md-12">
	<about-rules></about-rules>
</section>

<section name="ethics" class="col-md-12">
	<about-ethics></about-ethics>
</section>

<section name="map" class="col-md-12">
	<about-map></about-map>
</section>

<section name="news" class="col-md-12">
	<about-news></about-news>
</section>