<about-menu tabs="aboutPage.tabs"></about-menu>

<div layout="column">
	<section flex="100" name="greetings" class="abcontent">
		<about-greetings></about-greetings>
	</section>

	<section flex="100" name="history" class="abcontent">
		<about-history></about-history>
	</section>

	<section flex="100" name="organization"  class="abcontent">
		<about-organization></about-organization>
	</section>

	<section flex="100" name="rules" class="abcontent">
		<about-rules></about-rules>
	</section>

	<section flex="100" name="ethics" class="abcontent">
		<about-ethics></about-ethics>
	</section>

	<section flex="100" name="map" class="abcontent">
		<about-map></about-map>
	</section>

	<section flex="100" name="news" class="abcontent">
		<about-news></about-news>
	</section>
</div>