about-page {
  display: block;
}

#bootstrap-overrides section {
	padding: 0; 
}

#bootstrap-overrides .abcontent {
	padding-top: 10em;
}

@import '../aboutMenu/aboutMenu.less';

@import '../aboutGreetings/aboutGreetings.less';
@import '../aboutHistory/aboutHistory.less';
@import '../aboutOrganization/aboutOrganization.less';
@import '../aboutRules/aboutRules.less';
@import '../aboutEthics/aboutEthics.less';
@import '../aboutMap/aboutMap.less';
@import '../aboutNews/aboutNews.less';