<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <person-add-button ng-show="personsList.isLoggedIn"></person-add-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>List of persons:</h2>
      <form class="form-inline">
        <div class="form-group">
          <input type="search" ng-model="personsList.searchText" placeholder="Search" class="form-control"/>
        </div>
        <persons-sort class="form-group" on-change="personsList.sortChanged(sort)" property="name" order="1"></persons-sort>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="persons">
        <li ng-repeat="person in personsList.persons">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="person-name">
                <a ui-sref="personDetails({ personId: person._id })">{{person.name}}</a>
              </h3>
              <p class="person-description">
                {{person.description}}
              </p>
              <md-card-title-media ng-if="person.images">
                <div class="md-media-lg card-media">
                  <person-image images="person.images"></person-image>
                </div>
              </md-card-title-media>
            </div>
            <div class="col-sm-4">
              <person-remove person="person" ng-show="personsList.isOwner(person)"></person-remove>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>