ils {
	display: block;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#bootstrap-overrides .contentbody {
	padding: 0;
}

@import '../topAll/topAll.less';

@import '../mainPage/mainPage.less';
@import '../aboutPage/aboutPage.less';

@import '../bfooter/bfooter.less';