<div class="fluid-container">
	<div class="jumbotron greetings col-md-12">
		<h2>인사말</h2>
		<hr class="m-y-2">
		<div class="col-md-7">
			<h4>연세대학교 법학연구원을 방문해 주셔서 감사합니다.</h4>
			<p>연세대학교 법학연구원은 1969년 3월 1일 연세대학교 법률문제연구소의 이름으로 설립되었습니다. 동 연구소는 1993년 연세대학교 법과대학 부설 법학연구소로 개편되면서 도약의 시기를 맞이하였습니다. 2 009년 3월 1일 법학전문대학원 출범과 더불어, 심화된 연구와 확대된 토론의 장으로 발전하는 중흥기를 구가해왔습니다. 법과대학 및 법학전문대학원에서 독립한 전문적 연구기관으로 자리를 잡게 되었으며, 2009년에는 한국연구재단이 지원하는 중점연구소로 지정됨으로써 중흥의 기틀을 마련하였습니다. 그리고 교책연구원으로 승격하여 현재의 ｢법학연구원｣이라는 이름을 가지게 되었습니다. </p>

			<p>법학연구원은 한층 전문화·세분화되는 법학연구의 국제적 조류와 법학전문대학원이 지향하는 특성화된 법학교육의 요구에 부응하기 위하여 특성화 분야와 지역법 분야를 다루는 연구센터들을 설립하였습니다. 연세대학교 법학전문대학원은 현대사회를 크게 민주적 법치사회, 글로벌 경제사회, 지식기반사회로 파악하고 그러한 현대사회의 요구에 부응하는 법학교육을 추구하고 있는바, 본 연구원은 그에 조응하는 연구의 특성화 및 법학전문대학원 교육과의 연계성 강화를 위하여 ｢공공거버넌스와 법 센터｣, ｢글로벌 비즈니스와 법 센터｣, ｢의료·과학기술과 법 센터｣를 내부에 두고 있습니다. 이를 통해 민주주의와 법치주의, 글로벌 경제질서, 과학기술 발전에 따른 인류 복리에 관한 심화된 연구를 수행하고 있습니다. 아울러 세계적으로 전개되는 지역화의 동향을 예의 주시하고 지역협력과 국제협력을 강화하기 위하여 ｢아시아법센터｣, ｢중국법센터｣ 및 ｢EU법센터｣를 설치하였습니다. 한편 나날이 분화하고 진화하는 법학의 세계적 추세에 부응하여, 교내외 연구자들이 자발적, 자율적으로 참여하고 운영하는 전문법 연구센터를 개설하고 있습니다.한국연구재단 중점연구소로서의 법학연구원은 녹색성장법학을 중점과제로 삼아, 개발과 환경을 조화하는 새로운 경제·사회발전 모델을 법학에 접목시키기 위한 연구의 심화를 추구하고 있습니다. 이는 ‘지속가능한 발전’이라는 국제사회의 목표에 부응하는 국가 정책의 개발에도 기여하는 의미 있는 작업입니다. 이를 위해 ｢녹색성장법제연구사업단｣을 운영하는 한편 ｢기후변화와 국제법 연구 사업단｣을 구성하여 한국연구재단의 한국사회과학연구(SSK) 사업에도 참여하고 있습니다.	</p>

			<p>법학연구원은 위와 같은 연구 목표와 사업 전략에 따라 체계적인 프로그램을 개발, 수행하고 있습니다. 법학연구원 전체의 학술대회와 각 특성화분야별 학술행사, 여러 분야 사이의 협력을 도모하는 공동학술행사를 개최하는 한편, 국제학술대회를 통해 세계의 선도적 연구자 및 연구기관과 협력하고 있습니다. 국내외 법학연구협력을 위한 동 연구원의 역할은 한국연구재단 등재지인 「법학연구」와 영문저널 「Yonsei Law Journal」, 그리고 특성화 저널인 「공공거버넌스와 법」, 「글로벌 비즈니스와 법」, 「의료·과학기술과 법」의 발간을 통해서도 발휘되고 있습니다. </p>

			<p>법학연구원 소속 연구자들의 학문에 대한 열정과 노력은 법학연구원의 목표와 비전을 달성하는 원동력입니다. 법학연구원은 내부 연구자들의 연구역량을 극대화하는 한편 국내외 선도적 연구자들과의 협력을 더욱 강화함으로써 명실상부한 최고의 법학연구기관으로 자리잡을 것입니다.	</p>

			<p>감사합니다. </p>
			</br>
			<p>연세대학교 법학연구원장 이 철 우</p>
		</div>
		<div class="col-md-5">
			<img ng-src="/images/sir.jpg" width="100%" />
		</div>
	</div>
</div>