<about-menu tabs="affiliationPage.tabs"></about-menu>

<section name="green" id="green" class="afcontent">
	<div layout="row">
		<affiliation-left bars="affiliationPage.greenbar" flex="20"></affiliation-left>
		<div flex="80">
			<section name="ggreetings" class="afcontentg">
				<about-greetings></about-greetings>
			</section>
			<section name="gabout" class="afcontentg">
				<about-greetings></about-greetings>
			</section>
			<section name="gorganization" class="afcontentg">
				<about-greetings></about-greetings>
			</section>
			<section name="gfruit" class="afcontentg">
				<about-greetings></about-greetings>
			</section>
			<section name="gdata" class="afcontentg">
				<about-greetings></about-greetings>
			</section>
		</div>
	</div>
</section>

<section name="climate" class="afcontent">
	<about-history></about-history>
</section>

<section name="public"  class="afcontent">
	<about-organization></about-organization>
</section>

<section name="global" class="afcontent">
	<about-rules></about-rules>
</section>

<section name="medical" class="afcontent">
	<about-ethics></about-ethics>
</section>

<section name="china" class="afcontent">
	<about-map></about-map>
</section>

<section name="asia" class="afcontent">
	<about-news></about-news>
</section>

<section name="eu" class="afcontent">
	<about-news></about-news>
</section>